.team-aside {
  height:100%;
  width: 30vw;
  border: $border-dev-blue;
  @include flex($justify:space-around);
}

.team-img {
  width: 40%;
}

.team-member {
  @include flex($direction: row);
}

.team-details-container {
  text-align: center;
}
