  <h1>About</h1><h4></h4>
<div class="blur-container about" ng-class="{'blur': main.navAni}">
  <div class="contact-container">
    <p>Life At Down To Earth Starts With A Gorgeous Breakfast Selection Of Super Energizing Bowls And Treats.

At 12:00, The Lunch Menu Is Set To Impress Even The Most Carnivorous Of Tastes.

Throughout The Day We Offer An Impressive Selection Of Raw Cakes And Desserts Served With A Selection Of Organic, Biodynamic Teas Or Coffees.

All Raw Cakes Do Come With A Polite Warning – You Would Rarely Feel The Need To Eat A Conventional Cake Again!

For Afternoon Drinks, You May Wish To Indulge In A Selection Of Organic Wines And Beers Perfectly Accompanied With A Selection Of Small Plates To Share.

We Offer A Pre-Theatre Dinner Menu Throughout The Week And A Full Dinner Menu On Friday, Saturday And Sunday. Both Have Been Set To Help You Achieve Full Satisfaction Whatever Your Dietary, Nutritional Or Indulging Appetite!</p>
  </div>
  <aside>
    <h2>OPENING TIMES</h2>
    <h3>WEEKDAYS</h3> <h4>BREAKFAST</h4> 8AM—11.30AM <h4>ALL DAY MENU</h4> 12NOON—10.30PM
    <h3>WEEKENDS</h3> <h4>BRUNCH</h4> 10AM—4PM <h4>ALL DAY MENU</h4> 5pm-10.30pm
  </aside>
</div>
