<div class="menu fade-in-menu">
  <div class="menu-inner">
    <h1>juices</h1>
    <h2>{{menu.juices[0].type}}</h2>
    <section ng-repeat="menu in menu.juices" ng-if="menu.type === 'pure'">
      <h3>{{menu.name}}</h3>
      <p class="info">{{menu.info}}</p>
      <p class="desc">{{menu.desc}}</p>
      <p class="price">£{{menu.price}}</p>
    </section>

    <h2>{{menu.juices[6].type}}</h2>
    <section ng-repeat="menu in menu.juices" ng-if="menu.type === 'super'">
      <h3>{{menu.name}}</h3>
      <p class="info">{{menu.info}}</p>
      <p class="desc">{{menu.desc}}</p>
      <p class="price">£{{menu.price}}</p>
    </section>

    <h2>{{menu.juices[12].type}}</h2>
    <section ng-repeat="menu in menu.juices" ng-if="menu.type === 'simple'">
      <h3>{{menu.name}}</h3>
      <p class="info">{{menu.info}}</p>
      <p class="desc">{{menu.desc}}</p>
      <p class="price">£{{menu.price}}</p>
    </section>

    <h2>{{menu.juices[18].type}}</h2>
    <section ng-repeat="menu in menu.juices" ng-if="menu.type === 'other'">
      <h3>{{menu.name}}</h3>
      <p class="info">{{menu.info}}</p>
      <p class="desc">{{menu.desc}}</p>
      <p class="price">£{{menu.price}}</p>
    </section>

  </div>
</div>

<!-- ng-repeat="menu in menu.juices" -->
